<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tickets</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('../partials/navbar') %>

    <div class="content">
        <h1>All Tickets</h1>

        <div class="header">
            <div class="new-btn">
                <p><a href="/tickets/new">+ Add Ticket</a></p>
            </div>
        </div>

        <div class="ticket-container">
            <% allTickets.forEach( ticket =>{  %>
                <div class="ticket-card">

                    <div class="tic-card-header">
                        <div class="tic-date">
                            <%= new Date(ticket.createdAt).toISOString().split('T')[0] %>
                        </div>
                        <div class="tic-staus">
                            <% if(ticket.status == "Rejected"){ %> 
                                <div class="status-div" id="reject-s"><%= ticket.status %></div>
                            <% } else if (ticket.status == "Pending"){ %> 
                                <div class="status-div" id="pending"><%= ticket.status %></div>
                            <% } else if (ticket.status == "Assigned") { %> 
                                <div class="status-div" id="assigned"><%= ticket.status %></div>
                            <% } else { %>
                                <div class="status-div" id="completed"><%= ticket.status %></div>
                            <% } %>
                        </div>
                    </div>

                    <div class="tic-body">
                        <div class="tic-prioraty">
                            <p>Prioraty: 
                                <% if(ticket.prioraty){ %> 
                                    <%= ticket.prioraty %> 
                                <% } else { %> 
                                    -
                                <% } %>
                            </p>
                        </div>

                        <div class="tic-info">
                            <div class="tic-room">
                                <p>Building: <%= ticket.building %> - Room: <%= ticket.room %> </p>
                            </div>
                            
                            <div class="tic-footer">
                                <div class="footer-text">
                                    <p><%= ticket.category.name %> <% if (ticket.subCategory) { %> - <%= ticket.subCategory.name %> <% } %></p>
                                </div>
                                <div class="footer-edit">
                                    <a href="/tickets/<%= ticket._id %>">></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>   
</body>
</html>