<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technicians</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('../partials/navbar') %>

    <div class="content">
        <h1>Technicians</h1>

        <div class="header">
            <div class="new-btn">
                <p>+ Add Technician</p>
            </div>
        </div>

        <div class="tech-container">
            <% if(allTech) { %> 
                <% allTech.forEach( tech => { %> 
                    <div class="tech-card">

                        <div class="info">
                            <div class="tech-header">
                                <p class="tech-name"><%= tech.firstName %> <%= tech.lastName %></p>
                                <% if(tech.isActive){ %> 
                                    <p id="active">Active</p>
                                <% } else { %>
                                    <p id="not-active">Not Active</p>
                                <% } %>
                            </div>

                            <div class="tech-num">
                                <p><%= tech.contactNumber %></p>
                            </div>
                        
                            <div class="tech-edit-btn">
                                <button type="button" class="edit-tech">Edit</button>
                            </div>
                        </div>

                        <div class="edit">
                            <form action="/technician/<%= tech._id %>?_method=PUT" method="POST" id="edit-tech">
                                <div class="form-group">
                                    <label for="firstName">First Name:</label>
                                    <input type="text" id="firstName" name="firstName" value="<%= tech.firstName %>">
                                </div>

                                <div class="form-group">
                                    <label for="lastName">Last Name:</label>
                                    <input type="text" id="lastName" name="lastName" value="<%= tech.lastName %>">
                                </div>

                                <div class="form-group">
                                    <label for="contactNumber">Contact Number:</label>
                                    <input type="number" id="contactNumber" name="contactNumber" value="<%= tech.contactNumber %>">
                                </div>

                                <div class="form-group" id="tech-checkbox">
                                    <label for="isActive">Active?</label>
                                    <input type="checkbox" name="isActive" <%= tech.isActive ? "checked" : " " %>>
                                </div>

                                <div class="btns-group">
                                    <button type="submit" class="add-btn">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>

        <!-- Add: Modal Container -->
        <div class="modal">
            <div class="modal-content" id="cat-index">
                <div class="modal-title">
                    <h2><span class="back">←</span>Add Technician</h2>
                </div>
                <div class="add-form">
                    <form action="/technician" method="POST">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" name="firstName">
                        </div>
                         <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input type="text" id="lastName" name="lastName">
                        </div>
                         <div class="form-group">
                            <label for="contactNumber">Contact Number:</label>
                            <input type="number" id="contactNumber" name="contactNumber">
                        </div>
                        <div class="btns-group">
                            <button type="submit" class="add-btn">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    </div>
    <script> 
        // Cached Elements
        const editBtns = document.querySelectorAll('.edit-tech')
        const saveBtns = document.querySelectorAll('.save-tech')

        const newBtn = document.querySelector('.new-btn')
        const addBtn = document.querySelector('.add-btn')
        const back = document.querySelector('.back')

        const modalE = document.querySelector('.modal')

        // Functions
        function switchToEditMode(){
            const card = this.closest('.tech-card')
            card.querySelector('.info').style.display = "none"
            card.querySelector('.edit').style.display = "flex"
        }

        function switchToInfoMode(){
            const card = this.closest('.tech-card')
            card.querySelector('.info').style.display = "flex"
            card.querySelector('.edit').style.display = "none"
        }

        function showAddModal(){
            modalE.style.display = "flex"
        }
        function closeAddModal(){
            modalE.style.display = "none"
        }

        // Event Listeners
        editBtns.forEach(
            btn => btn.addEventListener('click', switchToEditMode)
        )

        saveBtns.forEach( 
            btn => btn.addEventListener('click', switchToInfoMode)
        )

        newBtn.addEventListener('click', showAddModal)
        addBtn.addEventListener('click', closeAddModal)
        back.addEventListener('click', closeAddModal)
    </script>
</body>
</html>
