<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('../partials/navbar') %>

    <div class="content">
        <h1><a href="/categories">←</a><%= cat.name %></h1>

        <div class="header">
            <div class="new-btn">
                <p>+ Add Sub-Category</p>
            </div>
        </div>

        <div class="categories-container">
            <% subCategories.forEach(s => { %>
                    <div class="sub-cat-card">
                        <div class="cat-title" id="sub-title">
                            <div class="cat-title-form">
                                <form action="/categories/<%= s._id %>/editSub?_method=PUT" method="POST">
                                    <input type="checkbox" name="isActive" <%= s.isActive ? "checked" : " " %> onchange="this.form.submit()">
                                </form>
                            </div>
                            <div class="cat-title-text">
                                <p><%= s.name %></p>
                            </div>
                        </div>
                    </div>
            <% }) %>
        </div>

        <!-- Add: Modal Container -->
        <div class="modal">
            <div class="modal-content" id="cat-index">
                <div class="modal-title">
                    <h2><span class="back">←</span>Add Sub-Category</h2>
                </div>
                <div class="add-form">
                    <form action="/categories/<%= cat._id %>" method="POST">
                        <div class="form-group sub">
                            <label for="name">Sub-Category Name:</label>
                            <input type="text" id="name" name="name">
                        </div>
                        <div class="btns-group">
                            <button type="submit" class="add-btn">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        const newBtn = document.querySelector('.new-btn')
        const addBtn = document.querySelector('.add-btn')
        const back = document.querySelector('.back')

        const modalE = document.querySelector('.modal')

        // Functions
        function showAddModal(){
            modalE.style.display = "flex"
        }
        function closeAddModal(){
            modalE.style.display = "none"
        }

        // Event Listeners
        newBtn.addEventListener('click', showAddModal)
        addBtn.addEventListener('click', closeAddModal)
        back.addEventListener('click', closeAddModal)
    </script>
</body>
</html>