<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All FAQs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('../partials/navbar') %>

    <div class="content">
        <h1>All FAQs</h1>

        <div class="header">
            <div class="new-btn">
                <% if(user.isAdmin){ %> 
                    <p>+ Add</p>
                <% } %>
            </div>
        </div>

        <div class="faq-container">
            <% allFaq.forEach( q => { %>
                <div class="faq-card">
                    <div class="faq">
                        <p>Q: <%= q.question %></p>
                        <p>A: <%= q.answer %></p>
                    </div>
                    
                    <div class="faq-btns">
                        <% if(user.isAdmin){ %> 
                            <form action="/faq/<%= q._id %>/delete?_method=DELETE" method="POST">
                                <button type="submit" class="delete">Delete</button>
                            </form>

                            <form action="/faq/<%= q._id %>/edit" method="GET">
                                <button type="submit" id="edit">Edit</button>
                            </form>    
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>

        <!-- Add: Modal Container -->
        <div class="modal" id="addModal">
            <div class="modal-content" id="add-faq">
                <div class="modal-title">
                    <h2><span class="back">←</span>Add FAQ</h2>
                </div>
                <div class="add-form">
                    <form action="/faq" method="POST">
                        <div class="form-group">
                            <label for="question">Question:</label>
                            <input type="text" name="question" id="question">
                        </div>

                        <div class="form-group">
                            <label for="answer">Answer:</label>
                            <textarea name="answer" id="answer"></textarea>
                        </div>

                        <button type="submit" class="add-btn">Add</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Edit: Modal Container -->
        <div class="modal" id="editModal">
            <div class="modal-content" id="edit-faq">
                <div class="modal-title">
                    <h2><span class="back">←</span>Edit FAQ</h2>
                </div>
                    <div class="add-form">
                        <form action="/faq/<%= faq._id %>?_method=PUT" method="POST">
                        
                            <div class="form-group">
                                <label for="question">Question:</label>
                                <input type="text" name="question" id="question" value="<%= faq.question %>">
                            </div>

                            <div class="form-group">
                                <label for="answer">Answer:</label>
                                <textarea name="answer" id="answer"><%= faq.answer %></textarea>
                            </div>

                            <button type="submit" class="faq-btn">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        const newBtn = document.querySelector('.new-btn')
        const addBtn = document.querySelector('.add-btn')
        const back = document.querySelector('.back')

        const editBtn = document.querySelectorAll('.edit')

        const modalE = document.querySelector('#addmodal')
        const editModalE = document.querySelector('#editModal')

        // Functions
        function showAddModal(){
            modalE.style.display = "flex"
        }
        function closeAddModal(){
            modalE.style.display = "none"
            editModalE.style.display = "none"
        }

        function showEditModal(){
            editModalE.style.display = "flex"
        }

        // Event Listeners
        newBtn.addEventListener('click', showAddModal)
        addBtn.addEventListener('click', closeAddModal)
        back.addEventListener('click', closeAddModal)

        editBtn.addEventListener('click', showEditModal)
    </script>
</body>
</html>