<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All FAQs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('../partials/navbar') %>

    <div class="content">
        <h1>All FAQs</h1>

        <div class="header">
            <div class="new-btn">
                <% if(user.isAdmin){ %> 
                    <p><a href="/faq/new">+ Add</a></p>
                <% } %>
            </div>
        </div>
        

        <div class="faq-container">
            <% allFaq.forEach( q => { %>
                <div class="faq-card">
                    <div class="faq">
                        <p>Q: <%= q.question %></p>
                        <p>A: <%= q.answer %></p>
                    </div>
                    
                    <div class="faq-btns">
                        <% if(user.isAdmin){ %> 
                            <form action="/faq/<%= q._id %>/delete?_method=DELETE" method="POST">
                                <button type="submit" class="delete">Delete</button>
                            </form>

                            <form action="/faq/<%= q._id %>/edit" method="GET">
                                <button type="submit" id="edit">Edit</button>
                            </form>    
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>